<div class="span-8">
  <h3>To Read</h3>
  <table>
<% @books.each do |book| %>
  <tr>
    <td><%= image_tag(book.cover_thumbnail) %></td>
    <td><h4><%= link_to book.title, book %><h4></td>
  </tr>
<% end %>
</table>
</div>
<div class="span-8">
  <h3>Reading</h3>
</div>
<div class="span-8">
  <h3>Read<h3>
</div>
